In [16]:
import pandas as pd

QNO 1:    Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [19]:
df=pd.Series([2,3,4,5,6,7,8,9,10,11])
print(df)

0     2
1     3
2     4
3     5
4     6
5     7
6     8
7     9
8    10
9    11
dtype: int64

Qno 2:   Write a Pandas program to convert a Panda module Series to Python list and it's type

In [26]:
df=pd.Series([2,3,4,5,6,7,8,9,10,11])
print(df)
df1=df.values.tolist()
print(df1)

0     2
1     3
2     4
3     5
4     6
5     7
6     8
7     9
8    10
9    11
dtype: int64
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

Qno 3:  Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [43]:
df1=pd.Series([2, 4, 6, 8, 10])
df2=pd.Series([1, 3, 5, 7, 9])

def Perform(df1,df2):
    mul=df1*df2
    add=df1+df2
    sub=df1-df2
    div=df1/df2
    return(mul,add,sub,div)

m,a,s,d=Perform(df1,df2)

print("Multiplication:",m)
print('addition', a)
print('Subtraction',s)
print('Division',d)

Multiplication: 0     2
1    12
2    30
3    56
4    90
dtype: int64
addition 0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction 0    1
1    1
2    1
3    1
4    1
dtype: int64
Division 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

Qno 4:  Write a Pandas program to compare the elements of the two Pandas Series.

In [44]:
df1=pd.Series([2, 4, 6, 8, 10])
df2=pd.Series([1, 3, 5, 7, 9])

print(df1==df2)
print(df1>df2)
print(df1<df2)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series

In [49]:
dict={"Car Model":['Mercedes','Audi','Toyota' ],
      "build Year":[2008,2010,2022],
      "Engine Type":[1500,1000,2000]
      }
df=pd.DataFrame(dict)
print(df)

  Car Model  build Year  Engine Type
0  Mercedes        2008         1500
1      Audi        2010         1000
2    Toyota        2022         2000

6. Write a Pandas program to convert a NumPy array to a Pandas series

In [57]:
import numpy as np
array=np.array([10,20, 30, 40, 50])
df=pd.DataFrame(array)
print(df)

    0
0  10
1  20
2  30
3  40
4  50

7. Write a Pandas program to change the data type of given a column or a Series.

In [64]:
dict={"Car Model":['Mercedes','Audi','Toyota' ],
      "build Year":[2008,2010,2022],
      "Engine Type":[1500,1000,2000]
      }
df=pd.DataFrame(dict)

df['build Year']=df['build Year'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Car Model    3 non-null      object
 1   build Year   3 non-null      float64
 2   Engine Type  3 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 204.0+ bytes

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [67]:
list_1=df['Car Model'].tolist()
print(list_1)

['Mercedes', 'Audi', 'Toyota']

Write a Pandas program to sort a given Series

In [77]:

df['build Year'].sort_values(ascending=False)

2    2022.0
1    2010.0
0    2008.0
Name: build Year, dtype: float64

10. Write a Pandas program to convert Series of lists to one Series

In [123]:
import pandas as pd
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
s=s.apply(pd.Series).stack().reset_index(drop=True)
print(s)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

11. Write a Pandas program to sort a given Series.

In [135]:
s=pd.Series(['1','2','3','4','5','python','4','6'])
print(s)
ss=s.sort_values(ascending=True)
print(ss)

0         1
1         2
2         3
3         4
4         5
5    python
6         4
7         6
dtype: object
0         1
1         2
2         3
3         4
6         4
4         5
7         6
5    python
dtype: object

12. Write a Pandas program to add some data to an existing Series.

In [95]:
series=pd.Series([100,200,300,4000])
list=pd.Series([11,11])
series=pd.concat([series,list],axis=0).reset_index(drop=True)
print(series)

0     100
1     200
2     300
3    4000
4      11
5      11
dtype: int64

In [115]:
df1=pd.Series([1,2,3,4,5])
df2=pd.Series([1,3,4,5,67,7])
s=df2[~df2.isin(df1)]
s

4    67
5     7
dtype: int64

13. Write a Pandas program to create a subset of a given series based on value and condition.

In [141]:
n=6
df=pd.Series([1,2,3,4,5,6,7,8,8,9,10])
df2=df[n>df]
print(df2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

14. Write a Pandas program to change the order of index of a given series

In [181]:
s=pd.Series([1,2,3,4,5,4])
s=s.reindex(index=[2,3,0,4,5])
a=s.describe()
s.value_counts()

4    2
3    1
1    1
5    1
Name: count, dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a given Series

In [184]:
s=pd.Series([1,2,3,4,5,6,7,7,8,98,9,0,0,0,9,76,5,54,4,4])
mean_value=s.mean()
std=s.std()
print('mean of series {} and standard deviation is {}'.format(mean_value,std))

mean of series 15.1 and standard deviation is 27.345547121394755

16. Write a Pandas program to get the items of a given series not present in another given series

In [191]:
df1=pd.Series([1,2,3,4,5,6])
df2=pd.Series([1,4,5,6,7,8,9,64])
s1=df2[~df2.isin(df1)]
s2=df1[~df1.isin(df2)]
print('Values of df1 that are not present in df2 are {} and the values of df2 that are not present in df1 are {}'.format(s2.values,s1.values))

Values of df1 that are not present in df2 are [2 3] and the values of df2 that are not present in df1 are [ 7  8  9 64]

17. Write a Pandas program to get the items which are not common of two given series.

In [197]:
df1=pd.Series([1,2,3,4,5,6])
df2=pd.Series([1,4,5,6,7,8,9,64])
s1=df2[~df2.isin(df1)]
s2=df1[~df1.isin(df2)]
notcommon=pd.concat([s,s2])
print('Not common values',notcommon.values)

Not common values [ 7  8  9 64  2  3]

19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [198]:
s=pd.Series([1,2,3,4,5,4])

s.value_counts()

4    2
1    1
2    1
3    1
5    1
Name: count, dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [228]:
ss=pd.Series([1,1,1,1,1,12,2,2,2,2,3,33,3,3,34,54,5,5,6,6,74754,467,547,45,2])
counts=ss.value_counts()
sss=counts.index[counts<3]
mask=ss.isin(sss)
ss[mask]='others'
ss.value_counts()

others    12
1          5
2          5
3          3
Name: count, dtype: int64